/* 
  Adds borders around links
  Makes links blinking 
  The script is injected after the dom ends loading
*/



@keyframes blinker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.externalLink {
  outline: 2px solid red !important;
}

.internalLink {
  outline: 2px solid green !important;
}

.flashingLink {
  animation: blinker 2s infinite;
}

a[rel~="nofollow"].externalLink {
  outline: 2px dashed red !important;
}

a[rel~="nofollow"].internalLink {
  outline: 2px dashed green !important;
}
