/* 
  Adds borders around links
  Makes links blinking 
  The script is injected after the dom ends loading
*/



@keyframes blinker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.externalLink {
  border: solid 3px red !important;
  padding: 5px !important;
}

.internalLink {
  border: solid 3px green !important;
  padding: 5px !important;
}

.flashingLink {
  animation: blinker 2s infinite;
}

a[rel~="nofollow"].externalLink {
  border: dashed 3px red !important;
}

a[rel~="nofollow"].internalLink {
  border: dashed 3px green !important;
}
